.header {
    &__intro {
        height: 50vh;
        background-color: pink;
    }
    &__nav {
        display: flex;
        justify-content: center;
    }
    &__toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &--active {
            color: pink;
        }
    }
}